#board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  margin: 20px auto;
  border: 2px solid #333;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.square.white {
  background: #eee;
}

.square.black {
  background: #666;
}

.square.selected {
  outline: 3px solid red;
}

/* piece images */
.square img {
  width: 40px;
  height: 40px;
  pointer-events: none; /* clicks go to square */
}
